
header {
    background-color: green;
   color: rgb(255, 136, 0);
    text-align: center;
    border: 3px solid rgb(255, 136, 0);
    
    

}
.mikeyimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.heading {
    font-family: verdana;
}
.mikeinfo {
    text-align: center;
}
#ninjalink {
    float: left;
    justify-content: space-around;
    padding: 0px 10px; 
    font-size: 9px;
}
p, li {
    font-family: monospace;
}
article {
    display: inline-grid;
}